body {
    height: 100vh;
    width: 100%;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

#content-card-container {
    width: 390px;
    height: 630px;
}

#content-card {
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-container {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-child {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-picture-container {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
    border-radius: 50%;
}

.text {
    font-family: Inter;
    color: white;
    text-decoration: none;
}

#name {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 12px;
}

#location {
    margin: 0;
    color: hsl(75, 94%, 57%);
    font-weight: 400;
}

#bio {
    text-align: center;
    margin-top: 24px;
}

#links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links-containers {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.links {
    font-weight: 600;
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    border-radius: 8px;
    text-align: center;
    padding: 15px 0;
}

.links:hover {
    font-weight: 600;
    width: 100%;
    background-color: hsl(75, 94%, 57%);
    border-radius: 8px;
    text-align: center;
    padding: 15px 0;
    color: hsl(0, 0%, 12%);
    transition: 0.5s;
}

@media (width < 321px) {
    #content-card-container {
        width: 290px;
        height: 630px;
    }

    #content-card {
        width: 100%;
        height: 100%;
        background-color: hsl(0, 0%, 12%);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #content-container {
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-child {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #profile-picture-container {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 90px;
        border-radius: 50%;
    }

    .text {
        font-family: Inter;
        color: white;
        text-decoration: none;
    }

    #name {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 12px;
    }

    #location {
        margin: 0;
        color: hsl(75, 94%, 57%);
        font-weight: 400;
    }

    #bio {
        text-align: center;
        margin-top: 24px;
    }

    #links-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links-containers {
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px 0;
    }

    .links {
        font-weight: 600;
        width: 100%;
        background-color: hsl(0, 0%, 20%);
        border-radius: 8px;
        text-align: center;
        padding: 15px 0;
    }

    .links:hover {
        font-weight: 600;
        width: 100%;
        background-color: hsl(75, 94%, 57%);
        border-radius: 8px;
        text-align: center;
        padding: 15px 0;
        color: hsl(0, 0%, 12%);
        transition: 0.5s;
    }
}

@media (320px < width < 376px) {
    #content-card-container {
        width: 340px;
        height: 630px;
    }

    #content-card {
        width: 100%;
        height: 100%;
        background-color: hsl(0, 0%, 12%);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #content-container {
        width: 86%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-child {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #profile-picture-container {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 100px;
        border-radius: 50%;
    }

    .text {
        font-family: Inter;
        color: white;
        text-decoration: none;
    }

    #name {
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 12px;
    }

    #location {
        margin: 0;
        color: hsl(75, 94%, 57%);
        font-weight: 600;
    }

    #bio {
        text-align: center;
        margin-top: 24px;
    }

    #links-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links-containers {
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px 0;
    }

    .links {
        font-weight: 600;
        width: 100%;
        background-color: hsl(0, 0%, 20%);
        border-radius: 8px;
        text-align: center;
        padding: 15px 0;
    }

    .links:hover {
        font-weight: 600;
        width: 100%;
        background-color: hsl(75, 94%, 57%);
        border-radius: 8px;
        text-align: center;
        padding: 15px 0;
        color: hsl(0, 0%, 12%);
        transition: 0.5s;
    }
}